{% extends 'boipoka_app/base.html' %}

{% block title %}Book Details{% endblock title %}
{% block content %}
<div class="mt-16 pt-14 grid grid-cols-6 gap-5 h-fit">
    <div class="col-span-2  border-solid ">
        {% if book.image %}
            <img src="{{ book.image.url }}" alt="{{ book.title }}" class="w-56 h-56 >
        {% else %}
            <img src="" alt="{{ book.title }}" class="w-56 h-56 ">
        {% endif %}
    </div>
    <div class="col-span-4 p-5 rounded-xl text-dark" style="background-color:#72A0C1 !important">
        <h1 class="mb-5 text-3xl">
            <strong class="font-semibold">{{ book.title }}</strong>
        </h1>
        {% if book.description %}
        <p class="text-xl">
            <span>{{ book.description }}</span>
        </p>
        {% endif %}

        {% if user.is_authenticated %}
            {% if subscription %}
                <p class='font-bold'>You can borrow maximum  {{subscription.max_books}} books at once </p>
                <p class='font-bold'>Your have already borrowed  {{ borrowed_books_count }} books </p>
                {% if subscription.max_books >= borrowed_books_count %}  <!-- Using the count from Borrowing directly -->
                    {% if not availability %}
                        <div class="flex flex-row items-center justify-between gap-2">
                            <button class="mt-5 bg-red-600  text-white">Unavaiable</button>
                            <form action="{% url 'boipoka_app:return_book' book.pk %}" method="post">
                                {% csrf_token %}
                                <input type="hidden" name="next" value="{% url 'boipoka_app:book_details' book.pk %}">
                                <button type="submit" class="px-3 py-2 bg-orange-500 text-white">Return Book</button>
                            </form>
                        </div>
                    {% else %}
                        {% if flag == 0 %}
                            <form action="{% url 'boipoka_app:borrow_book' pk=book.pk %}" method="post">
                                {% csrf_token %}
                                <button class="mt-5 px-6 py-2 bg-slate-700 text-white font-semibold" type="submit">Borrow Book</button>
                            </form> 
                        {% else %}
                            <p class="mt-5 text-red-600 font-bold">Sorry, your borrowing limit is exceeded.</p> 
                        {% endif %}
                    {% endif %}
                {% else %}
                    <p class="mt-5 text-red-600 font-bold">Sorry, your borrowing limit is exceeded.</p> 
                {% endif %}
            {% else %}
                {% if user.is_superuser %}
                    <div class="flex flex-row  gap-2 ">
                        <button class="mt-5 px-6 py-2 bg-slate-700 text-white font-semibold">
                            <a href="{% url 'boipoka_app:edit_book' book.pk %}">Edit</a>
                        </button>
                        <form action="{% url 'boipoka_app:delete_book' book.pk %}" method="post">
                            {% csrf_token %}
                            <button type="submit" class="mt-5 px-6 py-2 bg-red-900 font-semibold text-white">Delete</button>
                        </form>
                    </div>
                {% endif %}
            {% endif %}
            <button class="mt-5 px-6 py-2 bg-slate-700 text-white font-semibold" ><a href="{% url 'boipoka_app:book_list' %}">Back to Booklists</a></button>
        {% endif %}
    </div>
</div>

{% endblock %}
