{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% tailwind_css %}
    <title>{% block title %}Login{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    {% comment %} <link href="{% static 'css/dist/styles.css' %}" rel="stylesheet"> {% endcomment %}
    {% comment %} <script src="https://cdn.tailwindcss.com"></script> {% endcomment %}
</head>
<!-- Bootstrap JS and dependencies (Popper.js and jQuery) -->
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script> 
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script> 

<body class='bg-gray-900'>

{% block content %}
<div class=" absolute  left-1/4 right-1/4 w-1/2 top-20  p-6  bg-gray-100 rounded-xl ">
    {% if error %}
        <p style="color: red;">{{ error }}</p>  <!-- Display the error in red -->
    {% endif %}

    <form method="post" action="{% url 'boipoka_app:login' %}">
        {% csrf_token %}
        
        <label for="username">Username:</label>
        <input type="text" name="username" id="username" required class="rounded bg-gray-300 w-full py-1 px-3 !outline-none" placeholder="your_username">
        
        <label for="password">Password:</label>
        <input type="password" name="password" id="password" required class="rounded bg-gray-300 w-full py-1 px-3 !outline-none" placeholder="your_password">

        <button type="submit" class="mt-5 py-2 px-8 bg-purple-900 hover:bg-purple-700 rounded-xl text-white">Login</button>
    </form>
</div>
{% endblock %}
</body>