{% extends 'boipoka_app/base.html' %}
{% block content %}
<h2 class=' text-white text-4xl text-center'>User Details</h2>
<ul class=" mt-16  flex flex-col items-center justify-between gap-10">
    {% if context.user  %}
        <li class='text-xl bg-slate-600 rounded-sm px-10 py-10 font-bold'>
            <h3 >UserName: <span class='font-bold '>{{ context.user.username }}<span></h3>
            {% if context.subscription %}
                <div class="flex flex-row gap-3 font-bold">
                    <p>Subscription Type: {{ context.user.subscription.subscription_type }}</p>
                    <form action="{% url 'boipoka_app:delete_subscription' pk=context.user.pk %}" method="post" style="display:inline;">
                        {% csrf_token %}
                        <button type="submit" class=" px-2 py-1 bg-red-700 text-white ">Delete Subscription</button>
                    </form>
                </div>
                <div class="mt-5 mb-5 flex flex-row gap-3 font-bold">
                    <p>Active Status : {% if context.subscription.is_active %} active {% else %} suspended {% endif %}
                    {% if not context.subscription.is_active %}
                        <form action="{% url 'boipoka_app:reactivesubscription' context.subscription.pk %}" method="post" style="display:inline;">
                            {% csrf_token %}
                            <button  type=submit class=" px-2 py-1 text-white " style="background-color:#004953 !important">Reactivate</button>
                        </form>
                    {% endif %}
                </div>
                <p>Maximum Books: {{ context.user.subscription.max_books }}</p>
                <p>Subscription Starting Date: {{ context.user.subscription.subscription_start }}</p>
                <form action="{% url 'boipoka_app:manage_subscriptions_starting' context.user.subscription.pk %}" method="post" style="display:inline;">
                    {% csrf_token %}
                    <input type="datetime-local" name="start-date"  required>
                    <button type="submit" class="ml-2 px-2 py-1 bg-slate-700 text-white font-semibold">Update Subscription Start Date</button>
                </form>
                <p>Subscription Ending Date: {{context.user.subscription.subscription_end }}</p>
                <form action="{% url 'boipoka_app:manage_subscriptions_ending' context.user.subscription.pk %}" method="post" style="display:inline;">
                    {% csrf_token %}
                    <input type="datetime-local" name="expire-date"  required>
                    <button type="submit" class="ml-2 px-2 py-1 bg-slate-700 text-white font-semibold">Update Subscription End Date</button>
                </form>
                {% if context.borrowings %}
                    <p class="text-center font-semibold">Borrowed Books</p>
                    {% if context.returned_books %}
                        <p class="mt-5 font-bold" style="color:#FEBE10 !important">Returned Books : </p>
                        <ul class="mt-5 text-white font-bold">
                        {% for item in context.returned_books %}
                            <div class="flex flex-row items-center gap-5">
                                    <li>{{ item.book.title }} - Due: {{ item.due_date }} Returned at - {{item.returned_at}}
                                    </li>
                            </div>
                        {% endfor %}
                        </ul>
                    {% endif %}
                    {% if context.notreturnedbooks %}
                    <ul class="mt-5 text-white font-bold ">
                            <p class="font-bold" style="color:#33006F !important">Not Returned Books : </p>
                            {% for record in context.notreturnedbooks %}
                            <div class="mt-5 flex flex-row items-center gap-5">
                                    <li>{{ record.book.title }} - Due: {{ record.due_date }} {% if not record.returned_at %}(Not Returned){% endif %}
                                    <form action="{% url 'boipoka_app:update_due_date' record.pk %}" method="post" style="display:inline;">
                                        {% csrf_token %}
                                        <input type="datetime-local" name="due_date"  required>
                                        <button type="submit" class="ml-2 px-2 py-1 bg-slate-700 text-white font-semibold">Update Due Date</button>
                                    </form>
                                    </li>
                            </div>
                            {% endfor %}
                        </ul>
                    {% endif %}
                {% endif %}
                {% if context.overdue_books %}
                    <p class="mt-5 text-center font-bold">Overdue Books:</p>
                    <ul class="mt-5 text-white font-bold ">
                        {% for overdue in context.overdue_books %}
                            <li>{{ overdue.book.title }} - Due: {{ overdue.due_date }}</li>
                            <form action="{% url 'boipoka_app:send_reminder' context.user.pk %}" method="post" >
                                {% csrf_token %}
                                <button type="submit" class="mt-5 px-3 py-2 bg-slate-700 text-white font-semibold">Send Reminder</button>
                            </form>
                        {% endfor %}
                    </ul>
                {% endif %}
                {% if context.reissue_requests %}
                <p class="mt-5 text-center font-bold">Reissue requests</p>
                <ul class="mt-5 text-white font-bold ">
                    <div class="flex gap-5">
                        {% for item in context.reissue_requests %}
                            <li>{{ item.book.title }} - Due: {{ item.due_date }}</li>
                            <form action="{% url 'boipoka_app:reissue_grant' item.pk %}" method="post">
                                {% csrf_token %}
                                <button type=submit class="px-3 py-2 text-white" style="background-color:#1DB954 !important;">Accept</button>
                            </form>
                        {% endfor %}
                    </div>
                </ul>
                {% endif %}

                {% if context.damaged_books or context.damaged_history  %}
                    <p class="mt-5 text-center font-bold">Damaged/Lost Books</p>
                    <ul class=" gap-5 mt-5 text-white font-bold ">
                        {% for item in context.damaged_books %}
                            <div class="mt-5  flex flex-row gap-2" >
                                <li>{{ item.book.title }} {% if item.fine_paid %}(Paid on {{item.fine_paid_at}}) {% endif %}</li>
                                {% if item.fine_paid %}
                                    <div>
                                        {% if item.fine_paid_approved %}
                                            <strong class="font-bold" style="color:#FFD700 !important;">PAID</strong>
                                        {% else %}
                                            <form action="{% url 'boipoka_app:manage_fineapprove' item.pk %}" method="post">
                                                {% csrf_token %}
                                                <button type=submit class="px-3 py-2 text-white" style="background-color:#452c63 !important;">Approve</button>
                                            </form>
                                        {% endif %} 
                                    </div>
                                {% endif %}
                            </div>
                        {% endfor %}
                        {% if context.damaged_history %}
                            {% for item in context.damaged_history %}
                                <div class="mt-5  flex flex-row gap-2" >
                                    <li>{{ item.book.title }} {% if item.fine_paid %}(Paid on {{item.fine_paid_at}}) {% endif %}</li>
                                    <div>
                                        <strong class="font-bold" style="color:#FFD700 !important;">PAID</strong>
                                    </div>
                                </div>
                            {% endfor %}
                        {% endif %}
                    </ul>
                {% endif %}
                
            {% else %}
                <p>No Subscription</p>
            {% endif %}
            <div class='mt-6 flex flex-row justify-between gap-4'>
                <button><a href="{% url 'boipoka_app:edit_user' pk=context.user.pk %}" class=" px-3 py-2 bg-slate-700 text-white font-semibold">Edit User</a></button>
                <form action="{% url 'boipoka_app:delete_user' pk=context.user.pk %}" method="post" style="display:inline;">
                    {% csrf_token %}
                    <button type="submit" class=" px-3 py-2 bg-red-700 text-white font-semibold">Delete User</button>
                </form>
            </div>
        </li>
    {% endif %}
</ul>
<button class="mt-5 px-6 py-2 bg-slate-700 text-white font-semibold" ><a href="{% url 'boipoka_app:users' %}">Back to UserLists</a></button>
{% endblock %}
